<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Login page</title>
 </head>
 <style>
  body{
    background-color: black;
    color:white;
    font-family: Arial,sans-serif;
    text-align: center;
    padding: 50px;
  }
  input{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
 </style>
 <body>
   <h1>Login page</h1>
    <form th:action="@{/login}" method="post">
     <label for="username">Username</label>:
     <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
     <label for="password">Password</label>:
     <input type="password" id="password" name="password" /> <br />
     <input type="submit" value="Login" />
   </form>
   <p th:if="${error}" th:text="${error}" style="color: red;"></p>
       <div align="left">
       <h3><a th:href="@{/register}">Register</a></h3>
   </div>
     </body>
</html>
